@charset "UTF-8";
/* import css files */
@import url("css/settings.css");
@import url("css/icons_on_tabs.css");
@import url("css/media_phone.css");
@import url("css/media_tab.css");
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*var in way of change color*/
:root {
  /*use with var(--main-bg-color)*/
  --main-bg-color: #f1f1f1; 
  --main-blue-color: #0b96cd;
  --main-blue-clear-color: #0bcdc7;
  --main-item-bg-color: #fff;
  --main-text-color: #000;
  --secondary-text-color: gray;
}



/*/////////////////////////////////   font range need font.css  //////////////////////////////*/
@font-face {
    font-family: main-font;
    src: url(font/OpenSans-Regular.ttf);
}
@font-face {
    font-family: main-font-bold;
    src: url(font/OpenSans-SemiBold.ttf);
}
/* Add fonts */
.btnstylerev,
.btnstyle,
.btnstyle3-dis,
.btnstyle3,
.btnstyle3-sel
.mHeaderBtn,
.navbar-inverse .navbar-inner,
.item #bigtext,
.item #type,
.item #lastupdate {
  font-family: main-font;
}
h2,
#tophtm,
#temptophtm,
#weathertophtm,
#lightcontent td,
#utilitycontent td,
.beforebannav,
.machinoText,
.mHeader,
.item #status,
.item #name {
  font-family: main-font-bold;
}
#tabs,
.span6,
.span6,
.span12,
.page-header-small h1 {
  font-family: main-font-bold;
}
/* aboutpage */
#aboutcontent {
  font-family: main-font;
}


/*/////////////////////////////////  body section   //////////////////////////////*/
body {
  background:var(--main-bg-color) !important;
  color: #1a1a1a;
}

/*/////////////////////////////////  navbar section   //////////////////////////////*/
/* Header */
/*Hide Standart header logo*/
.navbar .brand img,
.navbar .brand h1,
.navbar .brand h2,
.navbar .brand hidden-phone {
  display: none;
}
/*make container navbar to good height and good bg color*/

.navbar .container-logo {
  width: auto;  
  height: 40px;
  padding: 0 10%;
  
 display: flex; /* contexte sur le parent */
  flex-direction: row; /* direction d'affichage verticale */
  justify-content: space-between; /* alignement vertical */
  
  background: var(--main-blue-clear-color);
  background: -moz-linear-gradient(left, var(--main-blue-clear-color) 0%, var(--main-blue-color) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, var(--main-blue-clear-color)), color-stop(100%, var(--main-blue-color)));
  background: -webkit-linear-gradient(left, var(--main-blue-clear-color) 0%, var(--main-blue-color) 100%);
  background: -o-linear-gradient(left, var(--main-blue-clear-color) 0%, var(--main-blue-color) 100%);
  background: -ms-linear-gradient(left, var(--main-blue-clear-color) 0%, var(--main-blue-color) 100%);
  background: linear-gradient(to right, var(--main-blue-clear-color) 0%, var(--main-blue-color) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="var(--main-blue-clear-color)", endColorstr="var(--main-blue-color)", GradientType=1 );
}

/*make navbar icon*/
.navbar .container-logo img.header__icon {
  width: 150px;
  height: auto;
  margin:auto 0;
}

 /*make navbar input for search*/
.navbar #searchInput {
  height: auto;
  margin: auto 0;
  padding: 5px 20px;
  
  color: white;
  font-size: 12px;
  border: none;
  border-bottom: 1px solid white;
  outline: 0;
  
  background-color: transparent;
  background-image: url('../images/searchicon.png');
  background-position: 7px 6px;
  background-repeat: no-repeat;
  
}
.navbar #searchInput::placeholder {
  color: white;
  opacity: 0.5;
  text-align: center;
}


/*///////////////////////////////// nav bar //////////////////////////////*/


.navbar a.brand{
  display:none;
}


.navbar .navbar-inner {
  background: white;
  width: 100%;
  border: none;
  margin: 0;
}

.navbar-inner .container {
  width: 100%;
  margin: 0;
  padding: 0 10%;
}

.navbar-inner #appnavbar {
  float:left;
  display:flex;
  justify-content:space-between;
  width:auto;
  margin: 0;
}

.nav li a img {
  display: none;
}

.navbar-inner #appnavbar > li a {
  margin-right:30px;
  background:transparent;
  color: #1a1a1a;
  text-shadow:none;
  border:none;
  border-radius:0;
  border-bottom: 2px solid var(--main-blue-color);
  flex-basis:auto;
}

.navbar-inner #appnavbar > li a:hover {
  background:var(--main-blue-color);
  color: #fff;
}



/*///////////////////////////////// slider and switch section  //////////////////////////////*/



/* bootstrap switcher */
/* The switch - the box around the slider */



.switch {
  position: absolute;
  display: block;
  width: 40px;
  height: 20px;
  top: 20px;
  right: 40px;
}
.switch input {
  display: none;
}

/* The slider */
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: -10px;
  bottom: -2px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: #fafafa;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.7);
}
.switch .slider.round {
  border-radius: 34px;
}
.switch .slider.round:before {
  border-radius: 50%;
}

.switch input:checked + .slider {
  background-color: rgba(11, 151, 205, 0.5);
}
.switch input:checked + .slider:before {
  -webkit-transform: translateX(34px);
  -ms-transform: translateX(34px);
  transform: translateX(34px);
  background-color: var(--main-blue-color);
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px rgba(11, 151, 205, 0.5);
}
/*/////////////////////////////////  standy page section   //////////////////////////////*/
/* standby screen */
.standby {
  background-image:none !important;
  background-color:#313131 !important;
}
.standby .row {
  opacity: 0.4;
}

.standbyClock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
    font-size: 80px;
    font-family: main-font-bold;
    letter-spacing: 7px;
}
.standbyDate {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
    font-size: 60px;
    font-family: main-font-bold;
    letter-spacing: 7px;
}
.standby input[type="number"]{
  width: 30px;
  background-color: transparent;
  outline: 0;
  border-width: 0 0 1px;
  border-color: var(--main-blue-color);
}

/*/////////////////////////////////  option menu and icon section   //////////////////////////////*/
/* item subnav applying by click*/
.options__bars {
  display: block;
  position: absolute;
  top: -5px;
  height: 30px;
  right: 10px;
  z-index: 2;
  overflow: hidden;
  width: 20px;
}
.options__bars::before {
  display: block;
  color: var(--secondary-text-color);
  content: "…";
  font-size: 20px;
  cursor: pointer;
}

body table#itemtable tr > .options {
  display: none;
  padding: 8px;
}

.options {
  font-family: main-font-bold;
  position: absolute;
  background: white;
  border-radius: 5px;
  right: 5px;
  top: 8px;
  box-shadow: -2px 2px 20px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: none;
  padding: 8px;
  width:97px;
  height:flex;

}
.options .btnsmall-sel {
  width: auto;
  background: transparent;
  color: green;
}
.options .btnsmall {
  padding-top:4px;
  text-align: left;
  color: #818183;
}
.timers_log{
  display: inline;
  padding: 0px 5px;
}
.timers_log .btnsmall,
.timers_log .btnsmall-sel,
.timers_log .btnsmall:hover,
.timers_log .btnsmall-sel:hover {
  color: transparent;
}
.timers_log .btnsmall[data-i18n="Log"] {
  font-size: 8px;
  position: absolute;
  right: 10px;
  bottom: 8px;
}

.timers_log .btnsmall[data-i18n="Timers"] {
  font-size: 11px;
  position: absolute;
  right: 30px;
  bottom: 5px;

}
.timers_log .btnsmall-sel[data-i18n="Timers"] {
  background: transparent;
  font-size: 11px;
  position: absolute;
  right: 30px;
  bottom: 6px;
}
.timers_log .btnsmall[href*="/TemperatureLog"] {
  font-size: 8px;
  position: absolute;
  right: 10px;
  bottom: 8px;
}

@media (min-width: 1200px) {
  .options {
    top: 5px;
  }
  .timers_log .btnsmall[data-i18n="Timers"],
  .timers_log .btnsmall-sel[data-i18n="Timers"]{
  bottom: 16px;  
  }
  .timers_log .btnsmall[href*="/TemperatureLog"],
  .timers_log .btnsmall[data-i18n="Log"]{
  bottom:18px;
  }
}



/*/////////////////////////////////     //////////////////////////////*/

/*/////////////////////////////////    //////////////////////////////*/

/*/////////////////////////////////  media tab and phone   //////////////////////////////*/
@media screen and (max-width: 992px){
#holder {margin-top:0px;}
  
   .standbyClock {
    font-size: 60px;
  }
  .standbyDate {
    font-size: 40px;
  }
  .navbar #searchInput {
    width:0px;
    padding: 5px 15px;
    transition: 500ms;
  }
  .navbar #searchInput:focus {
    width: 150px;
    padding: 5px 20px;
  }
  
 
/*button may move before icon to make a position more adjustable*/
.navbar button.menu-toggle {
  display: block;
  position: absolute;
  top:0;
  height: 40px;
  width: 40px;
  border: none;
  outline: 0 !important;
  display:block;
  background-color: transparent;
}
.navbar button.menu-toggle::before {
  content: "≡";
  font-size: 200%;
  color: white;
}  
  
}
/*/////////////////////////////////  media phone   //////////////////////////////*/







.bannercontent {
  display: block;
  /*padding: 90px 5em 0 5em !important;*/
}
